@media screen and (max-width: 1000px) {

    html {
        font-size: 14px;
    }
    
    nav ul {
        flex-direction: column;
        justify-content: center;
    }
    
    nav ul li {
        padding: 0.5rem 0;
    }

    nav ul li:first-child{
        flex: none;
    }

    .section-content-right, .section-content-left {
        width: 100%;
        align-self: stretch;
    }
    
    .section-forest {
        padding: 3rem var(--page-horizontal-padding);
    }
    
    h2, h3, h4, .jumbo-text {
        text-align: center;
    }
}