@media screen and (max-width: 1000px) {

    nav ul {
        flex-direction: column;
        justify-content: center;
    }
    
    nav ul li {
        padding: 0.5rem 0;
    }

    nav ul li:first-child{
        flex: none;
    }
}