@{
    ViewData["Title"] = "Aiutaci";
    ViewData["MetaDescription"] = "";
}

<article>

    <section>
        <div class="section-content">
            <h1>@ViewData["Title"]</h1>
            <h2>Ci sono molte cose che puoi fare per aiutarci a creare un futuro più sostenibile</h2>
        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                Siamo entusiasti di sapere che sei interessato a sostenere
                la nostra organizzazione nella lotta contro il cambiamento climatico.
            </p>

            <p>
                Ecco alcuni modi in cui puoi contribuire:
            </p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h3>Distribuisci</h3>
            <p>
                Distribuisci i nostri <a href="/volantini" class="action-button-secondary">volantini</a>: stampa le nostre brochure informative e distribuiscile nella tua comunità.
            </p>

            <p>
                In questo modo, puoi contribuire a sensibilizzare le persone sul cambiamento climatico e sugli effetti che ha sul nostro pianeta.
                <strong>Se ci contatti</strong>, ti forniremo una versione del volantino con un QRCode adatto per ottenere <strong>statistiche sull'efficacia</strong> del tuo volantinaggio.
                Potremo dirti, per esempio, in quali zone è stato aperto di più il sito a partire dai volantini che hai distribuito.
            </p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h3>Condividi</h3>
            <p>
                Condividi le nostre iniziative: puoi aiutarci a diffondere il messaggio sui social media
                condividendo il nostro operato, i nostri messaggi, ed i nostri risultati.
            </p>
            <p>Stay tuned!</p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                <a href="/newsletter" class="action-button-secondary">Iscriviti</a> alla nostra mailing list: lasciaci la tua email per ricevere aggiornamenti sulle nostre attività
                e sulle nostre campagne.
            </p>

            <p>
                In questo modo, sarai sempre informato sulle nostre attività e sulle novità riguardanti
                la lotta al cambiamento climatico.
            </p>

            <p>
                Inoltre avrai contenuti interessanti da condividere.
            </p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h3>Grazie per il tuo supporto!</h3>
        </div>
    </section>

</article>