@using InfoTerraTerra.Data
@{
    ViewData["Title"] = "Aiutaci";
    ViewData["MetaDescription"] = "Ci sono molte cose che puoi fare per aiutarci a creare un futuro più sostenibile. Scopri come!";
}

<article>

    <section>
        <div class="section-content">
            <h1>@ViewData["Title"]</h1>
            <h2>Ci sono molte cose che puoi fare per aiutarci a creare un futuro più sostenibile</h2>
        </div>
    </section>

    <section class="bg-alt">
        <div class="section-content">
            <h3><strong>Distribuisci</strong></h3>
            <p>
                Distribuisci i nostri <a href="/volantini" class="action-button-secondary">volantini</a>: 
                stampa le nostre brochure informative e distribuiscile nel tuo bar di fiducia, 
                dalli ai tuoi amici, appendilo in qualche bacheca - diffondi nella tua comunità 
                il nostro messaggio. 
            </p>

            <p>
                <a href="mailto:@Constants.EmailAddress" class="action-button-secondary">Se ci contatti</a>, 
                ti forniremo una versione del volantino con un QRCode adatto per ottenere 
                <strong>statistiche sull'efficacia</strong> del tuo volantinaggio.
                Potremo dirti, per esempio, in quali zone è stato aperto di più il sito 
                a partire dai volantini che hai distribuito.
            </p>
            
            <a href="/volantini" class="action-button">Scarica un volantino</a>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h3><strong>Condividi</strong></h3>
            <p>
                Condividi le nostre iniziative: puoi aiutarci a diffondere il messaggio sui social media
                mostrando le nostre grafiche, alcuni screenshot dei volantini, o semplicemente 
                linkando questo sito.
            </p>
        </div>
    </section>

    <section class="bg-alt">
        <div class="section-content">
             <h3><strong>Seguici</strong></h3>
            <p>
                <a href="/newsletter" class="action-button-secondary-2">Iscriviti</a> alla nostra mailing list: 
                se ci lasci tua email - che sarà trattata nel pieno rispetto della privacy - 
                per <strong>ricevere aggiornamenti</strong> sulle nostre attività e sulle nostre campagne. 
                Non invieremo più di una mail a settimana, promesso!
            </p>

            <a href="/newsletter" class="action-button">Seguici</a>
        </div>
    </section>

    <section class="bg-cta text-white">
        <div class="section-content">
            <h3><strong>Grazie</strong> per il tuo supporto!</h3>
        </div>
    </section>

</article>