@using InfoTerraTerra.Data
@model InfoTerraTerra.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["MetaDescription"] = "Info Terra Terra è un sito dedicato a fornire informazioni sulle questioni ambientali più urgenti. Scopri come puoi fare la differenza e aiutarci a creare un mondo migliore per tutti.";
}

<section class="bg-forest-2">
    <div class="section-content">
        <h1>La conoscenza</h1>
        <h2>è il primo passo per il cambiamento</h2>
    </div>
</section>

<section>
    <div class="section-content">
        <p>
            La nostra <strong>missione</strong> è fornire informazioni accurate
            e aggiornate sulle questioni ambientali più urgenti,
            perché crediamo che la conoscenza sia il primo passo per il cambiamento.
        </p>

        <p>
            Attraverso i nostri volantini, i nostri articoli e le nostre iniziative,
            speriamo di <strong>ispirare</strong> azioni concrete
            e di sensibilizzare sempre più persone sulla necessità
            di proteggere il nostro pianeta per le generazioni future.
        </p>

        <a class="action-button margin-top-1rem" href="/manifesto">Scopri di più</a>
    </div>
</section>

<section class="bg-alt">
    <div class="section-content">
        <h3>Gli ultimi <strong>volantini</strong></h3>

        @foreach (var volantino in Model.Volantini)
        {
            <partial name="PartialVolantino" model="@volantino"/>
        }

        <a class="action-button margin-top-1rem" href="/volantini">Guarda tutti i volantini</a>
    </div>
</section>

<section>
    <div class="section-content">
        <h3>
            <strong>Aiutaci</strong>
        </h3>

        <p>
            Siamo una piccola organizzazione con grandi idee per rendere il mondo un posto migliore.
        </p>

        <p>
            Ma per farlo, <strong>abbiamo bisogno del tuo aiuto!</strong>
            Ci sono molte cose che puoi fare per sostenerci:
        </p>

        <ul>
            <li><strong>Stampare</strong> i nostri volantini e <strong>distribuirli</strong> nella tua comunità</li>
            <li>
                <strong>Condividere</strong> le nostre iniziative. Ricorda:
                <strong>
                    anche una sola persona che inizia a riflettere
                    su questi temi grazie a noi, è un successo!
                </strong>
            </li>
            <li>Lasciarci la tua email per ricevere aggiornamenti sulle nostre attività</li>
        </ul>

        <p>
            <strong>Ogni piccola azione può fare la differenza</strong>
        </p>

        <a class="action-button margin-top-1rem" href="/aiutaci">Scopri come puoi aiutare</a>

    </div>
</section>

<section class="bg-cta text-white">
    <div class="section-content">
        <h3>Rimaniamo in <strong>contatto</strong></h3>

        <p>
            Se vuoi rimanere aggiornato sulle nostre attività
            lascia la tua email qui sotto.
        </p>

        <p>
            Ti terremo informato su come puoi aiutarci a diffondere
            la nostra missione e a fare la differenza.
        </p>

        <a class="action-button margin-top-1rem" href="/newsletter">Iscriviti alla newsletter</a>
    </div>
</section>