@{
    ViewData["Title"] = "Manifesto";
    ViewData["MetaDescription"] = "Il nostro manifesto per un futuro sostenibile: breve e incisivo, basato sulla scienza, accessibile.";
}

<article>

    <section>
        <div class="section-content">
            <h1>@ViewData["Title"]</h1>
            <h2>Il nostro contributo per un futuro sostenibile</h2>
        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                Crediamo che il <strong>cambiamento climatico</strong> sia una delle sfide più urgenti
                che l'umanità deve affrontare. Ma sappiamo anche che non possiamo farcela da soli.
                Abbiamo bisogno del tuo aiuto per sensibilizzare sulla questione e
                per promuovere comportamenti sostenibili che possano fare la differenza.
            </p>

            <p>
                Noi crediamo che il <strong>volantinaggio</strong> sia un modo efficace per comunicare il nostro messaggio.
                Tuttavia, sappiamo che il tempo è prezioso e che le persone sono spesso distratte.
                Ecco perché ci concentriamo sui seguenti punti per catturare l'attenzione e trasmettere il nostro messaggio in modo efficace.
            </p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                <strong>Il primo impatto conta.</strong>
            </p>

            <p>
                Abbiamo solo pochi secondi per catturare l'attenzione.
                Sappiamo che le persone non hanno tempo da perdere.
                Ecco perché utilizziamo immagini potenti e frasi semplici ma significative
                che possono comunicare il nostro messaggio in modo <strong>chiaro e diretto</strong>.
            </p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                Il nostro messaggio è <strong>basato sulla scienza</strong>.
            </p>

            <p>
                Siamo convinti che le evidenze scientifiche siano essenziali per comprendere l'entità
                della crisi climatica.
                Ecco perché basiamo il nostro messaggio su fatti scientifici e su dati affidabili.
            </p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                Il nostro messaggio è <strong>accessibile</strong>.
            </p>

            <p>
                Non siamo e non vogliamo sembrare estremisti.
                Cerchiamo di <strong>parlare a tutti</strong>, non solo agli addetti ai lavori e ai già informati.
                Vogliamo promuovere un cambiamento graduale e sostenibile che possa essere adottato da tutti,
                a partire dall'alimentazione,
                indipendentemente dalla loro posizione o ideologia.
            </p>

        </div>
    </section>

    <section>
        <div class="section-content">
            <p>
                Stampiamo solo su <strong>carta riciclata</strong> e tramite servizi che piantano un albero per ogni ordine di stampa.
                Vogliamo minimizzare l'impatto ambientale della nostra attività.
            </p>

            <p>
                Siamo convinti che qualunque cambiamento debba partire da qualcuno.
                Altrimenti nulla cambia e tutto resta immobile.
                <strong>Vogliamo essere quel qualcuno</strong>.
            </p>

        </div>
    </section>

</article>