@{
    ViewData["Title"] = "Newsletter";
    ViewData["MetaDescription"] = "";
}

<article>

    <section>
        <div class="section-content">
            <h1>@ViewData["Title"]</h1>
            <h2>Da scrivere</h2>
        </div>

    </section>

</article>