@using Microsoft.AspNetCore.Mvc.TagHelpers
@using InfoTerraTerra.Data
@model InfoTerraTerra.Models.Newsletter.NewsletterViewModel
@{
    ViewData["Title"] = "Newsletter";
    ViewData["MetaDescription"] = "Se vuoi rimanere aggiornato sulle nostre attività, lasciaci la tua email. Ti terremo informato su come puoi aiutarci a diffondere la nostra missione e a fare la differenza.";
}

<div class="flex-horizontal-center height100vh bg-forest-1">

    @if (!string.IsNullOrWhiteSpace(Model.Success))
    {
        <div class="transparent-rounded-form max-width-25rem text-color-success">
            <h4 class="padding0 margin0 text-align-center">@Model.Success</h4>
        </div>
    }
    else
    {
        <form method="post" class="margin-top-2rem transparent-rounded-form">

            <p>
                Se vuoi rimanere aggiornato sulle nostre attività, lasciaci la tua email.
                Ti terremo informato su come puoi aiutarci a diffondere la nostra missione e a fare la differenza.
            </p>

            <p>Non preoccuparti la tua <a href="@Constants.PrivacyPageSlug" class="action-button-secondary">privacy</a> è assolutamente al sicuro!</p>

            <div class="form-row">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required/>
            </div>

            <div class="form-row">
                <input type="submit" value="Iscriviti"/>
            </div>

        </form>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Errors))
    {
        <div class="transparent-rounded-form max-width-25rem text-color-error padding0 margin0">
            <h4 class="padding0 margin0 text-align-center">@Model.Errors</h4>
        </div>
    }

</div>