@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InfoTerraTerra.Models.Home.VolantiniViewModel
@{
    ViewData["Title"] = "Volantini";
    ViewData["MetaDescription"] = "Tutti i volantini pubblicati da Info Terra Terra.";
}

<article>

    <section>
        <div class="section-content">
            <h1>@ViewData["Title"]</h1>
            <h2>Tutte le nostre grafiche consulatabili e scaricabili</h2>
        </div>
    </section>
    
    <section class="bg-alt">
        <div class="section-content">
            
            @foreach (var volantino in Model.Volantini)
            {
                <partial name="PartialVolantino" model="@volantino"/>
            }

        </div>
    </section>

</article>