@model KeyValuePair<string, string>

<div class="sub-counter-container">
    
    <div class="sub-counter-label">
        @Model.Key: 
    </div>
    
    <div class="sub-counter-value">
        @Model.Value
    </div>
    
</div>