@model InfoTerraTerra.Models.Admin.CounterModel

<div class="counter-container">
    
    @if (!string.IsNullOrWhiteSpace(Model.Category))
    {
        <div class="counter-category">
            @Model.Category
        </div>
    }
    
    <div class="counter-label">
        @Model.Counter.Key
    </div>
    
    <div class="counter-value">
        @Model.Counter.Value
    </div>
    
</div>