@model KeyValuePair<string, string>

<div class="counter-container">
    
    <div class="counter-label">
        @Model.Key
    </div>
    
    <div class="counter-number">
        @Model.Value
    </div>
    
</div>